<div>
  <label>
    <input #selectColor type="radio" name="bankoption" (click)="setOrange()" value="orange"> Orange
  </label>
  <br/>
  <label>
    <input #selectColor type="radio" name="bankoption" (click)="setPurple()" ng-value="purple"> Purple
  </label>
  <br/>
  <div>
    <header [ngClass]="{orange: isOrange, purple: isPurple}">
      <img [attr.src]="imageSrc"/>
      <h1 [ngClass]="{orange: isOrange, purple: isPurple}">HTML</h1>
      <h2 [ngClass]="{orange: isOrange, purple: isPurple}">HTML</h2>
    </header>
  </div>

  <table>
    <caption>This is a caption for a table</caption>
    <thead>
      <tr>
        <th [ngClass]="{orange: isOrange, purple: isPurple}">ID</th>
        <th [ngClass]="{orange: isOrange, purple: isPurple}">Name</th>
        <th [ngClass]="{orange: isOrange, purple: isPurple}">Date</th>
        <th [ngClass]="{orange: isOrange, purple: isPurple}">Address</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td [ngClass]="{orange: isOrange, purple: isPurple}">Table footer info</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td [ngClass]="{orange: isOrange, purple: isPurple}">#999-32ac</td>
        <td [ngClass]="{orange: isOrange, purple: isPurple}">First Name</td>
        <td [ngClass]="{orange: isOrange, purple: isPurple}">13 May, 2013</td>
        <td [ngClass]="{orange: isOrange, purple: isPurple}">999 Spruce Lane, Somewhere, CA 94101</td>
      </tr>
      <tr>
        <td [ngClass]="{orange: isOrange, purple: isPurple}">#888-32dd</td>
        <td [ngClass]="{orange: isOrange, purple: isPurple}">Sample Name</td>
        <td [ngClass]="{orange: isOrange, purple: isPurple}">17 May, 1984</td>
        <td [ngClass]="{orange: isOrange, purple: isPurple}">999 Spruce Lane, Somewhere, CA 94101</td>
      </tr>
    </tbody>
  </table>

  <!-- left panel example -->
  <div class="leftPanel">
      <div class="fixPosition-wl menuBorder" style="margin-left: -14px">
          <ul class="nav nav-sidebar">
              <li><a>Customer Onboarding</a>
              </li>
          </ul>
          <ul class="nav nav-sidebar">
              <li><a>Batch Customer Onboarding</a>
              </li>
          </ul>
          <ul class="nav nav-sidebar">
              <li><a>WL Rules</a>
              </li>
          </ul>
          <ul class="nav nav-sidebar">
              <li><a>WL Upload</a>
              </li>
          </ul>
          <ul class="nav nav-sidebar">
              <li><a>Case Management</a>
              </li>
          </ul>
          <ul class="nav nav-sidebar">
              <li><a>Swift Rules</a>
              </li>
          </ul>

          <ul class="nav nav-sidebar">
              <li><a>Test API</a>
              </li>
          </ul>
      </div>
  </div>
  <div>
    <p-dataTable [ngClass]="{orange: isOrange, purple: isPurple}" [value]="cars">
      <p-column field="vin" header="Vin"></p-column>
      <p-column field="year" header="Year"></p-column>
      <p-column field="brand" header="Brand"></p-column>
      <p-column field="color" header="Color"></p-column>
    </p-dataTable>
  </div>
      <!-- <p-dropdown [ngClass]="{orange: isOrange, purple: isPurple}" [options]="cities" [(ngModel)]="selectedCity" ></p-dropdown> -->
      <!-- <select>
        <option ng-repeat="x in cars" value="{{x.brand}}">{{x.brand}}</option>
      </select>
      <select ng-model="selectedCar" ng-options="y.brand for (x, y) in cars">
</select> -->
<!-- <mat-form-field>
      <mat-select placeholder = "car">
        <mat-option *ngFor="let car of cars" [value]="car.brand">
          {{ car.brand }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field >
          <mat-select  [(ngModel)]="selectedCity" placeholder = "City">
            <mat-option [ngClass]="{orange: isOrange, purple: isPurple}" *ngFor="let city of cities" [value]="city.label">
              {{ city.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

<div>
  <div class="swal2-cancel">WOW</div>
  <span>Swal Example</span>
  <button (click)="showSwalBox1()">SWAL 1</button><br>
</div>
</div>
