h1.orange {
  color: #FF7F50;
}
h2.orange {
  color: #FF7F50;
}
h3.orange {
  color: #FF7F50;
}
h4.orange {
  color: #FF7F50;
}
h5.orange {
  color: #FF7F50;
}
h6.orange {
  color: #FF7F50;
}
header.orange {
  background-color: #FF7F50;
}
footer.orange {
  background-color: #FF7F50;
}
tr.th.orange {
  background-color: #c45104;
}
tr.td.orange {
  background-color: #ebb989;
}
