h1.purple {
  color: #800080;
}
h2.purple {
  color: #800080;
}
h3.purle {
  color: #800080;
}
h4.purple {
  color: #800080;
}
h5.purple {
  color: #800080;
}
h6.purple {
  color: #800080;
}
header.purple {
  background-color: #800080;
}
footer.purple {
  background-color: #800080;
}
tr.th.purple {
  background-color: #e286de;
}
tr.td.purple {
  background-color: #f0cbf0;
}
